{% extends 'oqituvchi_templates/base_template.html' %}
{% load static %}
{% block page_title %} O'qituvchi boshqaruv paneli {% endblock page_title %}
{% block main_content %}
 <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{ students }}</h3>

              <p>Student Under Me</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="{% url 'staff_take_attendance' %}" class="small-box-footer">Batafsil ma'lumot <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <h3>{{ attendance_count }}</h3>

              <p>Qabul qilingan umumiy davomat</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="{% url 'staff_take_attendance' %}" class="small-box-footer">Batafsil ma'lumot <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{ leave_count }}</h3>

              <p>Jami qabul qilingan ta'tillar</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="{% url 'staff_apply_leave' %}" class="small-box-footer">Batafsil ma'lumot <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>{{ group }}</h3>

              <p>Umumiy Gruhlar</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">Batafsil ma'lumot <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
    </div>
  </section>
{% endblock main_content %}
{% block custom_js %}
<script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-messaging.js"></script>
<script>
    var firebaseConfig = {
        apiKey: "AIzaSyCV0DhVy46ilqVXB1HNauSMQw1eLQnc_Hk",
        authDomain: "student-management-syste-287c4.firebaseapp.com",
        databaseURL: "FIREBASE_DATABASE_URL",
        projectId: "student-management-syste-287c4",
        storageBucket: "student-management-syste-287c4.appspot.com",
        messagingSenderId: "198828830138",
        appId: "1:198828830138:web:0726fd9196f5e362998183",
        measurementId: "G-7SNFF694VR"
    };
    firebase.initializeApp(firebaseConfig);
    const messaging=firebase.messaging();

    function IntitalizeFireBaseMessaging() {
        messaging
            .requestPermission()
            .then(function () {
                console.log("Notification Permission");
                return messaging.getToken();
            })
            .then(function (token) {
                console.log("Token : "+token);
                sendToServer(token);
            })
            .catch(function (reason) {
                console.log(reason);
            });
    }

    messaging.onMessage(function (payload) {
        console.log(payload);
        const notificationOption={
            body:payload.notification.body,
            icon:payload.notification.icon
        };

        if(Notification.permission==="granted"){
            var notification=new Notification(payload.notification.title,notificationOption);

            notification.onclick=function (ev) {
                ev.preventDefault();
                window.open(payload.notification.click_action,'_blank');
                notification.close();
            }
        }

    });
    messaging.onTokenRefresh(function () {
        messaging.getToken()
            .then(function (newtoken) {
                console.log("New Token : "+ newtoken);
                sendToServer(newtoken);
            })
            .catch(function (reason) {
                console.log(reason);
            })
    });

    function sendToServer(token){
         $.ajax({
                url:'{% url "staff_fcmtoken_save" %}',
                type:'POST',
                data:{token:token},
            })
            .done(function(response){
                if(response=="True"){
                    console.log("Token Save")
                }
                else{
                    console.log("Error in Token Save")
                }
            });
    }
    IntitalizeFireBaseMessaging();
</script>
{% endblock custom_js %}