{% extends 'parent_templates/base_template.html' %}
{% load static %}
{% block page_title %} Farzandingiz uchun ta'tilga ariza bering {% endblock page_title %}
{% block main_content %}
 <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-md-12">
      <!-- general form elements -->
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Ta'tilga ariza berish</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
       
        <form action="{% url 'student_apply_leave_save' %}" method="post">
            {% csrf_token %}
          <div class="card-body">
            
            <div class="form-group">
              <label>Sanani Kiriting</label>
              <input type="date" name="leave_date" class="form-control" placeholder="Sanani Kiriting" >
            </div>
            <div class="form-group">
                <label>Sababni qoldiring</label>
                <textarea name="leave_reason" placeholder="Farzandingizni ism familiya qaysi gruppada o'qishi yozishni unutmang !!" class="form-control" rows="6"></textarea>
              </div>
                        
                <div class="form-group">
                {% if messages %}
                  {% for message in messages %}
                  {% if message.tags == 'error' %}
                  <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                  {% endif %}
                  {% if message.tags == 'success' %}
                  <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                  {% endif %}
                  {% endfor %}
                {% endif %}
              </div>

          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-block" id="fetch_student">Ta'tilga ariza berish</button>
          </div>
        </form>
      </div>
      <!-- /.card -->
      <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Arizalar Tarixi</h3>
        </div>
        <div class="table">
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Ariza Sanasi</th>
                <th>Ariza Sababi</th>
                <th>Ariza Status</th>
            </tr>
            {% for row in leave_data %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.leave_date }}</td>
                    <td>{{ row.leave_message }}</td>
                    <td>
                        {% if row.leave_status == 1 %}
                            <span class="alert alert-success">Tasdiqlangan</span>
                        {% elif row.leave_status == 2 %}
                            <span class="alert alert-danger">Rad etilgan</span>
                        {% else %}
                            <span class="alert alert-info">Kutilmoqda</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        </div>
      </div>



    </div>
    </div>
  </section>
{% endblock main_content %}
  <!-- /.content -->
