{% extends 'admin_templates/base_template.html' %}
{% block page_title %}
Ishchini Boshqarish

{% endblock page_title %}
{% block main_content %}

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">


           <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Ishchi Tafsilotlari</h3>
                <a href="/add_staff"><button class="btn btn-primary" style="margin-left: 35px;">Ishchi Qo'shish</button></a>
                <div class="card-tools" >
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Ismi</th>
                      <th>Familiyasi</th>
                      <th>User Name</th>
                      <th>Email</th>
                      <th>Manzili</th>
                      <th>Telefon Raqami</th>
                      <th>Oxirgi Kirish</th>
                      <th>Qo'shilgan Sanasi</th>
                      <th>Harakat</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for staff in staffs %}
                    <tr>
                      <td>{{ staff.admin.id }}</td>
                      <td>{{ staff.admin.first_name }}</td>
                      <td>{{ staff.admin.last_name }}</td>
                      <td>{{ staff.admin.username }}</td>
                      <td>{{ staff.admin.email }}</td>
                      <td>{{ staff.address }}</td>
                      <td>{{ staff.phone }}</td>
                      <td>{{ staff.admin.last_login }}</td>
                      <td>{{ staff.admin.date_joined }}</td>
                      <td>
                          <a href="{% url 'edit_staff' staff.admin.id %}" class="btn btn-success">Tahrirlash</a>
                          <a href="{% url 'delete_staff' staff.admin.id %}" class="btn btn-danger" onclick=" return confirm('Bunga ishonchingiz komilmi?')">O'chirish</a>

                        </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

