{% extends 'admin_templates/base_template.html' %}
{% block page_title %}
Guruhni Boshqarish

{% endblock page_title %}
{% block main_content %}

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">


           <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Guruh Tafsilotlari</h3>
                <a href="{% url 'add_group' %}"><button class="btn btn-primary" style="margin-left: 35px;">Gruh Qo'shish</button></a>
                <div class="card-tools" >
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Gruh Nomi</th>
                      <th>Mavzu</th>
                      <th>O'qituvchi</th>
                      <th>Kunlar</th>
                      <th>Boshlanish Sanasi</th>
                      <th>Tugash Sanasi</th>
                      <th>Harakat</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for group in groups %}
                    <tr>
                      <td>{{ group.id }}</td>
                      <td>{{ group.group_name }}</td>
                      <td>{{ group.course_id }}</td>
                      <td>{{ group.staff_id }}</td>
                      <td>{{ group.days }}</td>
                      <td>{{ group.start_date }}</td>
                      <td>{{ group.end_date }}</td>
                      <td>
                          <a href="/edit_group/{{ group.id }}" class="btn btn-success">Tahrirlash</a>
                          <a href="/delete_group/{{ group.id }}" class="btn btn-danger" onclick="return confirm('Bunga ishonchingiz komilmi?')">O'chirish</a>

                        </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

