{% extends 'registration/base.html' %}
{% block content %}
<style>
    .input_tastiqlash::placeholder{
        color: black !important;
    }
</style>
<div class="col-md-6 col-lg-4">
    <div class="login-wrap p-0">
  <h3 class="mb-4 text-center">Parolni unutdingizmi ?</h3>
<form method="post"  class="signin-form">
    {% csrf_token %}
    {% for field in form %}
        {{ field.errors }}
        
        <input placeholder="Email" type="text" style="background-color: rgba(255, 255, 255, 0.8); color: black !important;" class="form-control input_tastiqlash" name="{{ field.html_name }}" id="{{ field.id_for_label }}">
    {% endfor %}
    <br>
    <div class="form-group">
        <button type="submit" class="form-control btn btn-primary submit px-3">Tasdiqlash</button>
    </div>
</form>

{% endblock content %}
