{% extends 'registration/base.html' %}

{% block content %}

<style>
    .eslatma_m{
        background-color: transparent;
        width: 40%;
        font-size: 20px;
        text-align: center;
        color: white;
    }
    .eslatma_m p {
        color: white;
    }
</style>
<div class="eslatma_m">
    <p>
        Agar e-pochta orqali hisob mavjud bo'lsa, parolni tiklash bo'yicha ko'rsatmani sizga elektron pochta orqali yubordik.
    </p>
</div>

{% endblock content %}
