{% extends 'registration/base.html' %}

{% block content %}
    {% if validlink %}
    <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
    <h3 class="mb-4 text-center">Parolni Yangilash</h3>
    <form method="post"  class="signin-form">
        {% csrf_token %}
        {% for field in form %}
            {{ field.errors }}
            {{ field.label_tag }}
            <input type="text" style="background-color: rgba(255, 255, 255, 0.8); color: black !important;" class="form-control" name="{{ field.html_name }}" id="{{ field.id_for_label }}">
        {% endfor %}
        <br>
        <div class="form-group">
            <button type="submit" class="form-control btn btn-primary submit px-3">Parolni Yangilash</button>
        </div>
    </form>
    {% else %}
    <p>
        Parol havolasi muddati tugagan yoki yaroqsiz
    </p>
    {% endif %}

{% endblock content %}